@model IEnumerable<IGrouping<Planet_CaseStudy.Models.TaskStatus, Planet_CaseStudy.Models.Task>>
@using Planet_CaseStudy.Models

@{
    bool showArchived = ViewBag.showArchived ?? false;
}

<div class="table-container mt-4">
    <div class="form-header d-flex justify-content-between align-items-center">
        <h4 class="m-0">Görev Listesi</h4>
        <a href="@Url.Action("Create", "Task")" class="btn btn-light btn-sm open-modal">
            <i class="fas fa-plus me-1"></i>Yeni Görev
        </a>
    </div>

    <div class="p-3 bg-light rounded-top">
        @using (Html.BeginForm("Index", "Task", FormMethod.Get, new { @class = "row g-3 align-items-center" }))
        {
            <div class="col-md-4">
                <label class="form-label fw-bold">Durum Filtresi:</label>
                @Html.DropDownList("statusFilter", (IEnumerable<SelectListItem>)ViewBag.statusFilter,
                    new { @class = "form-select", onchange = "this.form.submit()" })
            </div>
            <div class="col-md-4">
                <div class="form-check form-switch mt-4">
                    <input class="form-check-input" type="checkbox" id="showArchived" name="showArchived"
                           value="true" @(showArchived ? "checked" : "") onchange="this.form.submit()">
                    <label class="form-check-label" for="showArchived">Arşivlenmiş Görevleri Göster</label>
                </div>
            </div>
        }
    </div>

    <!-- Task List Container for AJAX Refresh -->
    <div id="taskListContainer">
        @Html.Partial("_TaskListPartial", Model)
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/taskAjax.js"></script>
}
